<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetContentProvider"
            icon="icons/shelveset.png"
            id="com.cwctravel.plugins.shelvesetreview.navigator.shelvesetContent"
            labelProvider="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetLabelProvider"
            name="Shelveset Contents"
            priority="normal">
         <possibleChildren>
            <or>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetGroupItem">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetUserItem">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetResourceItem">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetDiscussionItem">
               </instanceof>
            </or>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetGroupItemContainer">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetGroupItem">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetDiscussionItem">
               </instanceof>
            </or>
         </triggerPoints>
         <actionProvider
               class="com.cwctravel.plugins.shelvesetreview.actions.navigator.ShelvesetFileActionProvider"
               id="com.cwctravel.plugins.shelvesetreview.navigator.actions.ShelvesetFileActionProvider">
         </actionProvider>
         <commonSorter
               class="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetViewerSorter"
               id="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetViewerSorter">
         </commonSorter>
   </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.cwctravel.plugins.shelvesetreview.navigator.view">
         <popupMenu
               id="com.cwctravel.plugins.shelvesetreview.navigator#PopupMenu">
            <insertionPoint
                  name="group.open">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.cwctravel.plugins.shelvesetreview.navigator.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.cwctravel.plugins.shelvesetreview.navigator.shelvesetContent">
            </contentExtension>
            <contentExtension
                  pattern="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetFileLinkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.cwctravel.plugins.shelvesetreview.navigator.view">
         <includes>
            <actionExtension
                  pattern="com.cwctravel.plugins.shelvesetreview.navigator.actions.ShelvesetFileActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.microsoft.tfs.client.common.ui.views"
            class="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetNavigator"
            icon="icons/shelveset.png"
            id="com.cwctravel.plugins.shelvesetreview.navigator.view"
            name="Shelveset Navigator"
            restorable="true">
      </view>
      <view
            category="com.microsoft.tfs.client.common.ui.views"
            class="com.cwctravel.plugins.shelvesetreview.views.ReviewDiscussionView"
            icon="icons/discussion-icon.png"
            id="com.cwctravel.plugins.shelvesetreview.views.ReviewCommentsView"
            name="Review Discussion">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="tfs">
         <run
               class="com.cwctravel.plugins.shelvesetreview.filesystem.TFSFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetFileLinkHelper"
            id="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetFileLinkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.eclipse.ui.IURIEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetFileItem">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Compare shelveset version with base version"
            id="com.cwctravel.plugins.shelvesetreview.navigator.commands.CompareWithBaseCommand"
            name="Shelveset With Base">
      </command>
      <command
            description="Discard Shelveset"
            id="com.cwctravel.plugins.shelvesetreview.navigator.commands.DiscardShelvesetCommand"
            name="Discard">
      </command>
      <command
            id="com.cwctravel.plugins.shelvesetreview.navigator.commands.RestoreShelvesetCommand"
            name="Restore Shelveset">
      </command>
      <command
            id="com.cwctravel.plugins.shelvesetreview.navigator.commands.DeleteShelvesetCommand"
            name="Delete Shelveset">
      </command>
      <command
            id="com.cwctravel.plugins.shelvesetreview.navigator.commands.AssignReviewersCommand"
            name="Assign Reviewers">
      </command>
      <command
            id="com.cwctravel.plugins.shelvesetreview.navigator.commands.ApproveShelvesetCommand"
            name="Approve Shelveset">
      </command>
      <command
            id="com.cwctravel.plugins.shelvesetreview.navigator.commands.UnapproveShelvesetCommand"
            name="Unapprove Shelveset">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.CompareWithBaseHandler"
            commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.CompareWithBaseCommand">
          <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetFileItem">
                        </instanceof>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.shelvesetfileitem.canCompare"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.DiscardShelvesetHandler"
            commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.DiscardShelvesetCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
                        </instanceof>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.shelvesetitem.isActive"
                              value="true">
                        </test>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.belongsToCurrentUser"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.RestoreShelvesetHandler"
            commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.RestoreShelvesetCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
                        </instanceof>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.shelvesetitem.canActivate"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.DeleteShelvesetHandler"
            commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.DeleteShelvesetCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
                        </instanceof>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.shelvesetitem.isActive"
                              value="false">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.AssignReviewersHandler"
            commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.AssignReviewersCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
                        </instanceof>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.shelvesetitem.canAssignReviewers"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.ApproveShelvesetHandler"
            commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.ApproveShelvesetCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
                        </instanceof>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.shelvesetitem.canApprove"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.UnapproveShelvesetHandler"
            commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.UnapproveShelvesetCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
                        </instanceof>
                        <test
                              property="com.cwctravel.plugins.shelvesetreview.shelvesetitem.canUnapprove"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.cwctravel.plugins.shelvesetreview.handlers.navigator.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.cwctravel.plugins.shelvesetreview.navigator.view">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.cwctravel.plugins.shelvesetreview.navigator#PopupMenu?after=additions">
         <menu
               label="Compare">
            <command
                  commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.CompareWithBaseCommand"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetFileItem">
                        </instanceof>
                     </and>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </menu>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="Refresh"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.AssignReviewersCommand"
               label="Assign Reviewers..."
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.DiscardShelvesetCommand"
               label="Discard Shelveset"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.RestoreShelvesetCommand"
               label="Restore Shelveset"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.DeleteShelvesetCommand"
               label="Delete Shelveset"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.ApproveShelvesetCommand"
               label="Approve Shelveset"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="com.cwctravel.plugins.shelvesetreview.navigator.commands.UnapproveShelvesetCommand"
               label="Unapprove Shelveset"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.properties"
               label="Properties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="com.cwctravel.plugins.shelvesetreview.annotator.DiscussionAnnotationMenuContributionFactory"
            locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.cwctravel.plugins.shelvesetreview.decorators.ShelvesetLabelDecorator"
            id="com.cwctravel.plugins.shelvesetreview.navigator.ShelvesetLabelDecorator"
            label="Shelveset Label Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetFileItem">
               </objectClass>
               <objectClass
                     name="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
               </objectClass>
               <objectClass
                     name="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetDiscussionItem">
               </objectClass>
               <objectClass
                     name="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetFolderItem">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.cwctravel.plugins.shelvesetreview.propertytesters.ShelvesetFileItemPropertyTester"
            id="com.cwctravel.plugins.shelvesetreview.navigator.propertytesters.ShelvesetFileItemPropertyTester"
            namespace="com.cwctravel.plugins.shelvesetreview.shelvesetfileitem"
            properties="canCompare"
            type="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetFileItem">
      </propertyTester>
      <propertyTester
            class="com.cwctravel.plugins.shelvesetreview.propertytesters.ShelvesetItemPropertyTester"
            id="com.cwctravel.plugins.shelvesetreview.navigator.propertytesters.ShelvesetItemPropertyTester"
            namespace="com.cwctravel.plugins.shelvesetreview.shelvesetitem"
            properties="isActive,canActivate,canAssignReviewers,belongsToCurrentUser,canApprove,canUnapprove"
            type="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.cwctravel.plugins.shelvesetreview.propertypages.ShelvesetPropertyPage"
            id="com.cwctravel.plugins.shelvesetreview.ShelvesetPropertyPage"
            name="Shelveset">
         <enabledWhen>
            <instanceof
                  value="com.cwctravel.plugins.shelvesetreview.navigator.model.ShelvesetItem">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.cwctravel.plugins.shelvesetreview.views.ReviewCommentsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.cwctravel.plugins.shelvesetreview.discussionMarker"
            colorPreferenceKey="discussionColorBackground"
            colorPreferenceValue="255,255,128"
            contributesToHeader="true"
            highlightPreferenceKey="discussionHighlight"
            highlightPreferenceValue="true"
            icon="icons/discussion-icon.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="discussionGoNext"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="discussionGoPrev"
            label="Discussion Comments"
            overviewRulerPreferenceKey="discussionOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="5"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="discussionShowNextPrev"
            symbolicIcon="info"
            textPreferenceKey="discussionText"
            textPreferenceValue="true"
            textStylePreferenceKey="discussionTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="discussionVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="com.cwctravel.plugins.shelvesetreview.discussionMarker"
            name="com.cwctravel.plugins.shelvesetreview.discussionMarker">
      </type>
   </extension>
   <extension
         id="discussionMarker"
         name="Discussion Marker"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="startLine">
      </attribute>
      <attribute
            name="startColumn">
      </attribute>
      <attribute
            name="endLine">
      </attribute>
      <attribute
            name="endColumn">
      </attribute>
   </extension>

</plugin>
