<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.cwctravel.plugins.shelvesetnavigator.ShelvesetContentProvider"
            icon="icons/shelveset.png"
            id="com.cwctravel.plugins.shelvesetnavigator.shelvesetContent"
            labelProvider="com.cwctravel.plugins.shelvesetnavigator.ShelvesetLabelProvider"
            name="Shelveset Contents"
            priority="normal">
         <possibleChildren>
            <or>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetItem">
               </instanceof>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetResourceItem">
               </instanceof>
            </or>
         </possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetItemContainer">
               </instanceof>
            </or>
         </triggerPoints>
         <actionProvider
               class="com.cwctravel.plugins.shelvesetnavigator.actions.ShelvesetFileActionProvider"
               id="com.cwctravel.plugins.shelvesetnavigator.actions.ShelvesetFileActionProvider">
         </actionProvider>
   </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.cwctravel.plugins.shelvesetnavigator.view">
         <popupMenu
               id="com.cwctravel.plugins.shelvesetnavigator#PopupMenu">
            <insertionPoint
                  name="group.open">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.cwctravel.plugins.shelvesetnavigator.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.cwctravel.plugins.shelvesetnavigator.shelvesetContent">
            </contentExtension>
            <contentExtension
                  pattern="com.cwctravel.plugins.shelvesetnavigator.ShelvesetFileLinkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.cwctravel.plugins.shelvesetnavigator.view">
         <includes>
            <actionExtension
                  pattern="com.cwctravel.plugins.shelvesetnavigator.actions.ShelvesetFileActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.microsoft.tfs.client.common.ui.views"
            class="com.cwctravel.plugins.shelvesetnavigator.ShelvesetNavigator"
            icon="icons/shelveset.png"
            id="com.cwctravel.plugins.shelvesetnavigator.view"
            name="Shelveset Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="tfs">
         <run
               class="com.cwctravel.plugins.shelvesetnavigator.filesystem.TFSFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.cwctravel.plugins.shelvesetnavigator.ShelvesetFileLinkHelper"
            id="com.cwctravel.plugins.shelvesetnavigator.ShelvesetFileLinkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.eclipse.ui.IURIEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetFileItem">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Compare shelveset version with baseversion"
            id="com.cwctravel.plugins.shelvesetnavigator.commands.CompareWithBaseCommand"
            name="With Base">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cwctravel.plugins.shelvesetnavigator.handlers.CompareWithBaseHandler"
            commandId="com.cwctravel.plugins.shelvesetnavigator.commands.CompareWithBaseCommand">
          <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetFileItem">
                     </instanceof>
                     <test
                           property="com.cwctravel.plugins.shelvesetnavigator.canCompare"
                           value="true">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.cwctravel.plugins.shelvesetnavigator#PopupMenu?after=additions">
         <menu
               label="Compare">
            <command
                  commandId="com.cwctravel.plugins.shelvesetnavigator.commands.CompareWithBaseCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.cwctravel.plugins.shelvesetnavigator.decorators.ShelvesetLabelDecorator"
            id="com.cwctravel.plugins.shelvesetnavigator.ShelvesetLabelDecorator"
            label="Shelveset Label Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetFileItem">
               </objectClass>
               <objectClass
                     name="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetItem">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.cwctravel.plugins.shelvesetnavigator.propertytesters.ShelvesetFileItemPropertyTester"
            id="com.cwctravel.plugins.shelvesetnavigator.propertytesters.ShelvesetFileItemPropertyTester"
            namespace="com.cwctravel.plugins.shelvesetnavigator"
            properties="canCompare"
            type="com.cwctravel.plugins.shelvesetnavigator.model.ShelvesetFileItem">
      </propertyTester>
   </extension>

</plugin>
